@model DataProvider.Model.Book
<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="box-title" style="margin-top:8px">Ebook của sách</h3>
                </div>
                <div class="col-md-2" style="text-align:right">
                    <button type="submit" id="btnNewEbook" value="" onclick="location.href='@Url.Action("Add", "ChapterDetail", new { idbook = Model.BookID })'" class="btn btn-primary">Thêm ebook mới</button>
                </div>
            </div>

        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <table id="#tablePhuLuc" class="table table-hover dataTable table-bordered">
                        <thead>
                            <tr role="row">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Loại ebook
                                </th>
                                <th>
                                    Link
                                </th>
                                <th width="150px">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableEbook"></tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="text-align: right">
                <div class="dataTables_paginate paging_simple_numbers" style="padding-right: 15px">
                    <ul class="pagination" id="phanTrangEbook" style="margin-top: -10px;margin-bottom: 0px;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>